{{! ADD STATIC PAGE LINKS HERE }}
{{! REMOVE THE DEFAULT LINKS BELOW IF NOT USED }}
{{! REPEAT BY ADDING LINKS TO THE FOOTER BELOW AS COMMENTED }}
<ul class="menu">
	<li><a href="/about/">About</a></li>
</ul>
