{{! ADD AUTHOR SOCIAL LINKS HERE }}
{{! THESE SOCIAL LINKS WILL APPEAR IN THE PAGE SIDEBAR }}
{{! REMOVE ANY UNWATED LINKS }}

{{! RSS - LEAVE DEFAULT }}
<a href="{{@blog.url}}/rss/" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a>

{{! GITHUB }}
<a href="http://github.com/willchen90" target="_blank" class="social social_outline github"><i class="fa fa-github"></i></a>

{{! LINKEDIN }}
<a href="http://linkedin.com/in/willchen90" target="_blank" class="social social_outline linkedin"><i class="fa fa-linkedin"></i></a>
