{{! ADD COMMON TAGS HERE FOR SIDEBAR }}
{{! REMOVE THE DEFAULT TAGS BELOW IF NOT USED }}
{{! COPY AN EXAMPLE TAG AND REPLACE THE TAG WORD IN THE /tag/ and > < SECTIONS }}
{{! REPLACE SPACES IN TAGS WITH '%20' IN THE URL eg. 'Frontend%20Development' }}

<ul class="tags_list">
	{{! <li><a href="/tag/taghere">taghere</a></li> }}
	<li><a href="/tag/Software%20Engineering%20Concepts">Software Engineering Concepts</a></li>
	<li><a href="/tag/Javascript">Javascript</a></li>
	<li><a href="/tag/Docker">Docker</a></li>
	<li><a href="/tag/Data%20Structures">Data Structures</a></li>
	<li><a href="/tag/Algorithm">Algorithm</a></li>
	<li><a href="/tag/Design">Design</a></li>
	<li><a href="/tag/Ideas">Ideas</a></li>
</ul>
